* {
    margin: 0;
    padding: 0;
}
.form-text a {
    color: #dc3545;
}
.form-text a:hover {
    color: #f0aab1;
    text-decoration: none;
}
.navbar-brand {
    font-family: Ubantu;
    font-weight: bold;
    font-size: 2em;
}
.navbar .custom-nav {
    margin-right: 2em;
    font-size: 1.1em;
}
.navbar .custom-nav .nav-item a {
    color: #fff;
    padding-left: 14px;
}
.navbar .custom-nav .nav-item a:hover {
    color: #f0aab1;
}
.image-custom {
    background-size: cover;
    background-repeat: no-repeat;
    position: center center;
    height: 90vh;
    border-radius: 0px;
    margin-top: 74px;
}
.image-full {
    background-size: cover;
    background-repeat: no-repeat;
    position: center center;
    height: 89vh;
    border-radius: 0px;
    margin-top: 50px;
}
.btn {
    padding: 0.375rem 1.75rem;
    border-radius: 1.25rem;
}
.header-text {
    margin-left: 50px;;
    margin-top: 40px;
}
.mydiv {
    width: 48em;
    height: 25em;
    padding: 23px;
    border-radius: 30px;
}
.custom-div {
    width: 48em;
    height: 33em;
    padding: 23px;
    border-radius: 30px;
}
.text-uppercase {
    font-family: Ubantu;
    font-weight: bold;
}
.custom-p {
    color: #fff;
    font-size: 24px;
}
.border-div {
    border-radius: 20px;
    border-top: 4px solid #dc3545;
    border-bottom: 4px solid #dc3545;
}
.display-4 {
    font-family: Ubantu;
    font-weight: bold;
    color: black;
}
.container .row .col-sm-4 h4 {
    font-family: Ubantu;
    font-weight: bold;
    color: black;
}
hr {
    margin-top: 2rem;
    border-top: 3px solid #dc3545;
}
.contact-box {
    background-image: radial-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgba(238, 215, 215, 0.877));
}
.contact-box .col-lg-4 a {
    color: #dc3545;
}
.footer-border {
    border-top: 4px solid #a30916;
}
.slide-show {
    padding-right: 0px;
    padding-left: 0px;
}
/* media query for header text */
@media only screen and (max-width: 600px){
    .myclass {
        margin-top: 140px;
        text-align: center;
    }
    .custom-class {
        margin-top: 90px;
        text-align: center;
    }
    .mydiv {
        width: 400px;
        margin-left: -20px;
        height: 27em;
    }
    .custom-div {
        width: 400px;
        margin-left: -20px;
        height: 32em;
    }
}